# Required

input-dir: /tmp/uml-generator

# The output directory relative to the project root
output-dir: tests/output

# Optional
parents:
    # Include parents classes, interfaces and traits in svg output (default false).
    enabled: true
    # Add max 10 parents of depth per SVG file (default PHP_MAX_INT)
    depth: 10

# List of directories or files to skip.
skip:
    - tests

# Parse only list of directories or files.
only:
    - src/commands

# Enable legacy output for graphiz 2.28 (default false)
legacy: true
