body {
    background: #222;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.node {
    fill: white;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 3px;
    stroke: url(#line-gradient);
}

.link.extends {
    stroke: #f00;
    stroke-width: 4.5px;
    stroke: url(#line-gradient-extends);
    stroke-width: 3px;
}

.link.trait {
    stroke: #09f;
    stroke: url(#line-gradient-trait);
    stroke-width: 2px;
}

.link.implements {
    stroke: #0f9;
    stroke: url(#line-gradient-implements);
    stroke-width: 2px;
}
